<% content_for :title do %>
  Editing #<%= @note.id %> | Notes App
<% end %>

<h1>Editing Note #<%= @note.id %></h1>

<p>
  <small>
    Created <%= time_ago_in_words(@note.created_at) %> ago.
    <% if @note.updated_at - @note.created_at > 1.minute %>
      Last saved <%= time_ago_in_words(@note.updated_at) %> ago.
    <% end %>
  </small>
</p>

<%= turbo_frame_tag dom_id(@note) do %>
  <%= render "form", note: @note %>
<% end %>

<div>
  <%= button_to "Fullscreen", @note, method: :get %>
  <%= button_to "Delete", @note, method: :delete, data: { turbo_frame: "_top" } %>
</div>
