<main>
  <header>
    <h1>Notes</h1>
  </header>

  <section>
    <%= turbo_frame_tag "new_note" do %>
      <%= render "form", note: Note.new %>
    <% end %>
  </section>

  <section>
    <p><b>Your Notes</b></p>
    <%= turbo_stream_from "notes" %>
    <div id="notes">
      <% if @notes.any? %>
        <% @notes.each do |note| %>
          <%= turbo_frame_tag dom_id(note) do %>
            <%= render note %>
          <% end %>
        <% end %>
      <% else %>
        <p>No notes yet. Create your first note above!</p>
      <% end %>
    </div>
  </section>
</main>
