<% content_for :title do %>
  <%= @note.title %>
<% end %>

<p>
  Created <%= time_format @note.created_at %>.
  <% if @note.updated_at > @note.created_at %>
    Last edited <%= time_format @note.updated_at %>
  <% end %>
</p>

<div id="<%= dom_id @note %>">
  <%= markdown @note.body %>
</div>
